colorama==0.4.6 ; python_version >= "3.13" and python_version < "4.0" and sys_platform == "win32"
loguru==0.7.3 ; python_version >= "3.13" and python_version < "4.0"
pyaes==1.6.1 ; python_version >= "3.13" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.13" and python_version < "4.0"
rsa==4.2 ; python_version >= "3.13" and python_version < "4.0"
telethon==1.40.0 ; python_version >= "3.13" and python_version < "4.0"
win32-setctime==1.2.0 ; python_version >= "3.13" and python_version < "4.0" and sys_platform == "win32"
